.dayLbl
{
    -fx-alignment: center-right;


}

.eventsListView
{
    -fx-background-color: transparent;
}

.list-cell:even, .list-cell:odd
{
    -fx-background-color: transparent;
}

.dayBox
{
    -fx-border-width: 1 0 0 0;
    -fx-border-color: lightgrey;
    -fx-border-style: solid;

}
.weekdayLbl
{
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

