.dayLbl
{
    -fx-alignment: center-right;
    -fx-font-size: 18;
    -fx-padding: 3 3 3 3;
}

.dayBox
{

}

.eventsListView
{
    -fx-background-color: transparent;
}

.list-cell:even, .list-cell:odd
{
    -fx-background-color: transparent;
}

.dayCellPane
{
    -fx-border-width: 1 1 0 0;
    -fx-border-color: lightgrey;
    -fx-border-style: solid;
    -fx-padding: 1 1 1 1;
}

.weekdayLbl
{
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-alignment: center;
}

.monthLbl
{
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-padding: 5 5 0 0;
}

.yearLbl
{
    -fx-font-size: 25;
}

.todayLbl
{
    -fx-background-color: red;
    -fx-background-radius: 11 11 11 11;
    -fx-text-fill: white;
}

.test
{
    -fx-background-color: red;
}

.workLbl
{
    -fx-font-size: 15;
}

.eventPopOver
{
    -fx-font-size: 15;
    -fx-padding: 2 2 2 1;
}

.calendarGridPane
{

}


.transparantBG
{
    -fx-background-color: transparent;
}